<button id="refreshButton">Refresh</button>
<table id="databaseTable">
    <thead>
        <tr>
            <th>Last Update Time</th>
            <th>Smoke Value</th>
            <th>Fire Value</th>
            <th>Pump State</th>
            <th>Buzzer State</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="pagination" class="flex flex-wrap gap-3">
    Waiting for data...
</div>